<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #SideMenu class="sidenav" fixedInViewport

      [mode]="'side'"
      [opened]="ToggleVariable">
    <mat-toolbar>
      <img src="assets/Logo.svg" alt="assets.logo.svg" height="30px">
      <span>SalesPro</span>
    </mat-toolbar>
    <ul class="unselectable">
      <li routerLink ='/Views/Leaves' [routerLinkActive] = '["ActiveRoute"]'> <img src="assets/Leaves.svg" alt="Leaves Icon" height="15px"> Leaves</li>
      <li routerLink ='/Views/Attendance' [routerLinkActive] = '["ActiveRoute"]'> <img src="assets/Attendance.svg" alt="Leaves Icon" height="15px"> Attendance</li>
      <li routerLink ='/Views/Outlet' [routerLinkActive] = '["ActiveRoute"]'> <img src="assets/Outlet.svg" alt="Leaves Icon" height="15px"> Outlet</li>
      <li routerLink ='/Views/PJP' [routerLinkActive] = '["ActiveRoute"]'> <img src="assets/PJP.svg" alt="Leaves Icon" height="15px"> PJP</li>
      <li routerLink ='/Views/Mapping' [routerLinkActive] = '["ActiveRoute"]'> <img src="assets/Mapping.svg" alt="Leaves Icon" height="15px"> Mapping</li>
      <li routerLink ='/Views/KPI' [routerLinkActive] = '["ActiveRoute"]'> <img src="assets/KPI.svg" alt="Leaves Icon" height="15px"> KPI</li>
      <li routerLink ='/Views/Help' [routerLinkActive] = '["ActiveRoute"]'> <img src="assets/Help.svg" alt="Leaves Icon" height="15px"> Help</li>
      <li routerLink ='/Views/MapView' [routerLinkActive] = '["ActiveRoute"]'> <img src="assets/MapView.svg" alt="Leaves Icon" height="15px"> Map View</li>
    </ul>
            
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="SideMenu.toggle()">
        <mat-icon aria-label="Side nav toggle icon" color='primary'>menu</mat-icon>
      </button>
      <span class="SearchBarContainer">
        <button mat-icon-button (click)='ToggledSearch = !ToggledSearch'>
          <mat-icon style="color: #A8A9AA;">search</mat-icon>         
        </button>
        <span class="Searchbar" *ngIf='ToggledSearch' [@enterAnimation]>
          Search Your Content Here.
        </span>
      </span>

      <span class="example_spacer"></span>

      <span class="NavList">
        <span matRipple matRippleUnbounded routerLink='/Home'>Home</span>
        <span matRipple matRippleUnbounded>Notification</span>
        <span matRipple matRippleUnbounded>VeiwProfile</span>  
      </span>
    </mat-toolbar>

    <!-- <router-outlet></router-outlet> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
