.Background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(00, 00, 00, 0.6);
  z-index: 1;
  text-align: center;
}


.loader {
  transform: scale(1.4);
  position: relative;
  width: 75px;
  left: 50%;
  top: 30%;
  height: 100px;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 4s infinite;
}
@keyframes ball {
  0% {
      transform: translate(0, 0);
 }
  5% {
      transform: translate(8px, -14px);
 }
  10% {
      transform: translate(15px, -10px);
 }
  17% {
      transform: translate(23px, -24px);
 }
  20% {
      transform: translate(30px, -20px);
 }
  27% {
      transform: translate(38px, -34px);
 }
  30% {
      transform: translate(45px, -30px);
 }
  37% {
      transform: translate(53px, -44px);
 }
  40% {
      transform: translate(60px, -40px);
 }
  50% {
      transform: translate(60px, 0);
 }
  57% {
      transform: translate(53px, -14px);
 }
  60% {
      transform: translate(45px, -10px);
 }
  67% {
      transform: translate(37px, -24px);
 }
  70% {
      transform: translate(30px, -20px);
 }
  77% {
      transform: translate(22px, -34px);
 }
  80% {
      transform: translate(15px, -30px);
 }
  87% {
      transform: translate(7px, -44px);
 }
  90% {
      transform: translate(0, -40px);
 }
  100% {
      transform: translate(0, 0);
 }
}
@keyframes barUp1 {
  0% {
      transform: scale(1, 0.2);
 }
  40% {
      transform: scale(1, 0.2);
 }
  50% {
      transform: scale(1, 1);
 }
  90% {
      transform: scale(1, 1);
 }
  100% {
      transform: scale(1, 0.2);
 }
}
@keyframes barUp2 {
  0% {
      transform: scale(1, 0.4);
 }
  40% {
      transform: scale(1, 0.4);
 }
  50% {
      transform: scale(1, 0.8);
 }
  90% {
      transform: scale(1, 0.8);
 }
  100% {
      transform: scale(1, 0.4);
 }
}
@keyframes barUp3 {
  0% {
      transform: scale(1, 0.6);
 }
  100% {
      transform: scale(1, 0.6);
 }
}
@keyframes barUp4 {
  0% {
      transform: scale(1, 0.8);
 }
  40% {
      transform: scale(1, 0.8);
 }
  50% {
      transform: scale(1, 0.4);
 }
  90% {
      transform: scale(1, 0.4);
 }
  100% {
      transform: scale(1, 0.8);
 }
}
@keyframes barUp5 {
  0% {
      transform: scale(1, 1);
 }
  40% {
      transform: scale(1, 1);
 }
  50% {
      transform: scale(1, 0.2);
 }
  90% {
      transform: scale(1, 0.2);
 }
  100% {
      transform: scale(1, 1);
 }
}


.full-width-table {
  width: 100%;
}

.headerbar {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.headerbar span {
  width: fit-content;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.headerbar >span:nth-child(1) {
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  font-weight: 800;
}

.headerbar > span:nth-child(2) {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.TableContainer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

#ViewSelect {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#searchbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 5px 0 0 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-tap-highlight-color : transparent;
  display: flex;
  flex-direction: row;
}

.searchBox {
  width: fit-content;
  display: inline-block;
}

.filterSelect {
  display: inline-block;
  width: fit-content;
}

.filterSelect .mat-form-field {
  width: 0px;
  visibility: hidden;
}

.searchBox .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

mat-divider {
  margin-left: 20px;
  margin-right: 20px;
}


#TotalCount {
  position: absolute;
  font-size: 1.4em;
  left: 10%;
  top: 23%;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

#DateFilter {
  position: absolute;
  right: 10%;
  top: 23%;
  font-family: 'Nunito', sans-serif;
}

mat-panel-description {
  justify-content: space-between;
}

table {
  width: 100%;
  color: black;
}