<div class="headerbar">
    <span>MapView</span>
    <span>{{EmpName}}</span>
</div>
<mat-divider></mat-divider>

<div class="MainScreen">
    <div class="MapContainer">
        <div class="mapwrapper">
            <div>Google Maps</div>
            <div id="map" class="effect7"></div>
        </div>
        <div class="VandA">
            <div>
                
            </div>

            <div>

            </div>
        </div>
    </div>

    <div class="SideSummary">
        <div class="CalenderWrapper">
            <div>Choose a Date</div>
            <div id="calender">
                <mat-calendar #calendarMap [(selected)]="selectedDate" (monthSelected)="monthSelected($event)" (selectedChange)="dateChanged($event)" >
                </mat-calendar> 
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div class="Empheading">
                {{EmpName}}
            </div>
            <div style="height: 10%; font-weight: 400; margin-top: 5px; margin-left: 5px;">Registered Outlets  </div>
            <mat-divider style="width: 80%; margin-left: auto; margin-right: auto;"></mat-divider>
            <div class="OutletsReg">
                <button mat-button> Test </button>
            </div>
        </div>
    </div>
</div>